:root{
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --box-shadow: 0.625rem 0.625rem 0 rgba(0, 0, 0, 1);
}

*{
  box-sizing: border-box;
  margin: 0; padding: 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  font-family: "Figtree", sans-serif; font-weight: 500;
  background: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p{
  margin-block-start: 1.125rem ;
  line-height: 1.6rem;
}

h1:hover{
 cursor: pointer;
}

h1{
  margin-block-start: 1.25rem;
  font-size: 1.625rem;
}

.blog-preview{
  background: var(--white);
  width: min(100%, 23.4375rem);
  padding: clamp(0.5rem, 2vw, 0.9375rem);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.blog-thumbnail{
  width: 21.5625rem;
  border-radius: 0.625rem;
}
.label{
  background: var(--yellow);
  margin: 0.625rem 0 0.3125rem 0;
  padding: 0.4375rem;
  border-radius: 5px;
  align-self: flex-start;
  font-weight: 800;
}

.publish-date{
  font-size: 0.875rem;
}

.description{
  color: var(--gray-500);
}

.authour-preview{
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-block-start: 0.9375rem;
}

.authour-preview img{
  width: 2.1875rem;
  cursor: pointer;
}
.authour-preview p {
  margin: 0;
  font-weight: 800;
  cursor: pointer;
}
.attribution { font-size: 0.6875rem; text-align: center;
  padding-block-start: 1.25rem;
}
.attribution a { color: hsl(228, 45%, 44%); }

